.logoImg {
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImgOne {
    height: 250px;
}

/* tablets */
@media screen and (min-width: 768px) {
    .logoImgOne {
        height: 270px;
    }
}

/* laptops */
@media screen and (min-width: 1024px) {
    .logoImgOne {
        height: 300px;
    }
}