.about {
    text-align: center;
    width: 70%;
    margin: 40px auto 200px auto;
    color: black;
}

.aboutPara {
    margin-top: 10px;
    font-weight: bold;
    line-height: 1.5;
    color: black;
}

/* tablets */
@media screen and (min-width: 768px) {
    .about {
        width: 60%;
    }
}


/* laptops */
@media screen and (min-width: 1024px) {
    .about {
        width: 40%;
    }
}