.brewHeader {
    color: black;
    transition-duration: 0.4s;
}

.brewHeader:hover {
    color: rgb(135,206,250);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

h1 {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    padding: 10px;
}

h1:hover {
    color: rgb(135,206,250);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(135,206,250), 0 0 5px rgb(135,206,250);
}

.inLink {
    font-weight: bold;
    color: white;
    background-color: black;
    transition-duration: 0.4s;
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    font-size: 10px;
}

.inLink:hover {
    color: white;
    background-color: red;
}

.outLink {
    font-weight: bold;
    background-color: rgb(135,206,250);
    color: black;
    transition-duration: 0.4s;
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    font-size: 10px;
}

.outLink:hover {
    color: black;
    background-color: #77dd77;
}

.loggedIn, .renderLogin {
    padding: 10px;
}

/* tablets */
@media screen and (min-width: 768px) {
    .brewHeader {
        font-size: 30px;
    }

    .outLink, .inLink {
        font-size: 14px;
    }
}

/* laptops */
@media screen and (min-width: 1024px) {
    .brewHeader {
        font-size: 30px;
    }

    .loggedIn, .renderLogin {
        font-size: 14px;
    }
}