h1 {
    margin-top: 70px;
    text-align: center;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loggedIn, .renderLogin {
    text-align: center;
    padding-top: 25px;
}

.brewHeader {
    color: rgb(135,206,250);
}

.inLink {
    font-weight: bold;
    color: #FF4A3B;
}

.outLink {
    font-weight: bold;
    color: #68819B;
    padding: 5px;
}


/* laptops */
@media screen and (min-width: 1024px) {
    .brewHeader {
        font-size: 50px;
    }
}