ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.navLink {
    list-style: none;
    margin-right: 15px;
    text-decoration: none;
    text-align: center;
}

.navBarLink {
    color: #E1C340;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .navLink {
        margin-right: 45px;
    }
}