.searchUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchLi {
    width: 90%;
    text-align: center;
    margin-top: 15px;
    margin-right: 35px;
    margin-bottom: 15px;
    padding: 15px;
    /* gradient below */
    border-top: 5px solid rgb(135,206,250);
    border-bottom: 5px solid #E1C340;
    background-image: 
        linear-gradient(rgb(135,206,250), #E1C340),
        linear-gradient(rgb(135,206,250), #E1C340)
    ;
    background-size:5px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
    border-radius: 4px;
}

.searchAbv {
    margin: 10px auto 5px auto;
}

.addBeerButton {
    position: relative;
    right: 5px;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 40px auto 25px auto;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(135,206,250); 
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
}

.addBeerButton:hover {
    background-color: #77dd77;
    color: white;
}

/* tablets */
@media screen and (min-width: 768px) {
    .searchLi {
        width: 60%;
    }
}

/* laptops */
@media screen and (min-width: 1024px) {
    .searchLi {
        width: 40%;
    }
}